<%- include('templates/layout/header')%>
<div class="mt-4 p-5 bg-primary text-white rounded">
    <div class="container">
        <h1>Ventas Pepito</h1>
        <h2></h2>
        <h3>Empresa: CM</h3>
    </div>
</div>
<br>
<%- include('templates/layout/footer')%>